# Dependencies
node_modules/

# React Native
.metro-health-check*
*.hbc

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/app/build/
android/.gradle/
android/build/
local.properties

# iOS
ios/Pods/
ios/build/
*.xcuserdata

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build outputs
dist/
